/*

	=== COLOURS ===

*/

$primary-accent: rgb(25,219,155);
$secondary-accent: #2B4570;

$primary-light: #fff;
$secondary-light: rgb(224,225,228);

$primary-dark: rgb(18, 18, 18);
$secondary-dark: rgb(39,45,51);


/*

	=== STUFF ===

*/